/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {
    font-family: Georgia;


}

a {

}

/* Колонки */

.row { display: flex;

}
.col { flex:auto;

}


/* Потом селекторы по классам */

.text-input {

}

.button {
    color: white;
    background-color: dodgerblue;
    border-style: none;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;



}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {margin-bottom: 5px;
}


/* Страничка жанров и тегов */

.genre-first {background-color: #E1F5EA;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family: "Yu Gothic UI Light";


}

.genre-second {background-color: #CBEDFF;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 250px;
    font-family: "Yu Gothic UI Light";


}

.genre-third {background-color: peachpuff;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 200px;
    font-family: "Yu Gothic UI Light";

}

.genre-fourth {background-color: #EBDCF9;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    width: 150px;
    font-family: "Yu Gothic UI Light";

}

.tag {text-decoration: none;
}

/* Страничка популярного */

.cover {
    margin-bottom: 20px;
    margin-right: 20px;


}

/* Страничка подписки  */

.box-green {background-color: #E1F5EA;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family: "Yu Gothic UI Light";

}

.box-purple {background-color:
#EBDCF9;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family: "Yu Gothic UI Light";

}

.text-large {

}

.button-link {
    color: white;
    background-color: dodgerblue;
    border-style: none;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
}
